.input_msg_write {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 65px 15px 20px;
  max-height: 125px;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  background: #40444f;
  color: white;
  resize: none;
  font-family: inherit;
  transition: all 100ms ease-in; }
  .input_msg_write:focus {
    outline: none;
    background: #454550; }
  .input_msg_write::placeholder {
    opacity: 0.5; }

.input_msg_write::-webkit-scrollbar {
  display: none; }

#input-container {
  position: relative;
  width: 100%; }

#send-button {
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
  background-color: white;
  height: 36px;
  padding: 0px 13px;
  color: #40444f;
  border-radius: 10px; }
  #send-button .send-icon {
    position: relative;
    top: calc(50% - 10px);
    font-size: 20px; }
