.input_msg_write {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 20px;
  max-height: 100px;
  width: 80%;
  background: white;
  resize: none;
  font-family: inherit; }
  .input_msg_write:focus {
    outline: none; }
  .input_msg_write::placeholder {
    opacity: 0.5; }

#input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; }

#send-button {
  cursor: pointer;
  margin-left: 10px;
  background-color: #00cc00;
  padding: 10px 15px;
  color: white;
  border-radius: 10px; }
