#dashboard {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  flex: 1; }

#header {
  width: 100%;
  display: flex; }
  #header #header-span-messages {
    line-height: 90px;
    font-size: 35px;
    font-weight: 600; }

#conversation-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #393f4a;
  position: relative; }
  #conversation-header .conversation-avatar {
    width: 50px;
    height: 50px;
    border-radius: 30%; }
  #conversation-header .conversation-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px; }
    #conversation-header .conversation-details #conversation-title {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 5px; }
    #conversation-header .conversation-details #conversation-username {
      font-size: 15px;
      font-weight: 500;
      opacity: 0.5; }

#search-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px; }
  #search-container #user-search {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    border: none;
    border-radius: 21px;
    font-size: 16px;
    padding: 10px 20px;
    height: 42px;
    width: 100%;
    color: white;
    background: #40444f;
    resize: none;
    font-family: inherit;
    transition: all 100ms ease-in; }
    #search-container #user-search:focus {
      outline: none;
      background: #454550; }
  #search-container .search-icon {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 50%;
    margin-top: -10px; }

#ConversationList {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }

#messageContainer {
  width: 100%;
  margin-bottom: 25px;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column; }

#loadingContainer {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

#inputContainer {
  width: 100%;
  bottom: 0px; }

.icon-button {
  cursor: pointer;
  background-color: #393f4a;
  height: 36px;
  padding: 0px 13px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  transition: all 100ms ease-in; }
  .icon-button:hover {
    background-color: #40444f; }
  .icon-button #video-icon {
    color: white;
    position: relative;
    top: calc(50% - 10px);
    font-size: 20px; }

.loader {
  border: 7px solid #40444f;
  border-radius: 50%;
  border-top: 7px solid #f3f3f3;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#message-window {
  height: calc(100vh - 100px);
  margin: 25px;
  padding: 25px 40px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f343c;
  flex: 1; }
