
#dashboard {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  flex: 1;  
}

#header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  #header-span-messages {
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
  } 
  #header-span-conversation {
    font-size: 15px;
    font-weight: bold;
    margin-left: 25px;
  }
}

#user-search {
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 20px;
  max-height: 100px;
  width: 80%;
  background: #f2f2f2;
  resize: none;
  font-family: inherit;
  margin: 10px;

  &:focus {
    outline: none;
  }
}

#ConversationList {
  width: 100%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#messageContainer {
  width: 100%;
  padding-bottom: 3px;
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#loadingContainer {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputContainer {
  width: 100%;
  min-height: 50px;
  bottom: 0px;
}

#video-icon {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  color: #8c8c8c;
  font-size: 20px;
}


.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#message-window {
  height: 97vh;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex:1;
}
