#message-user {
  max-width: 275px;
  padding: 4px 8px;
  white-space: pre-wrap;
  background-color: #51c44e;
  border-radius: 20px 20px 2px 20px;
  float: right;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: white; }

#message-received {
  max-width: 275px;
  padding: 4px 8px;
  white-space: pre-wrap;
  background-color: #393f4a;
  border-radius: 20px 20px 20px 2px;
  float: left;
  margin: 5px 5px 5px 20px;
  left: 20px;
  font-size: 16px; }

#message-content {
  padding: 2px;
  margin: 5px 3px 5px 3px;
  word-wrap: break-word; }
