#user-card {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease; }
  #user-card #user-avatar {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 0;
    border-radius: 30%; }
  #user-card .details {
    display: flex;
    flex: 1;
    flex-direction: column; }
    #user-card .details #title {
      margin-bottom: 10px; }
    #user-card .details #username {
      opacity: 0.5; }
  #user-card .user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #393f4a; }
    #user-card .user-button:hover {
      background-color: #40444f; }
    #user-card .user-button .button-icon {
      font-size: 19px;
      font-weight: 700; }
  #user-card .message a {
    text-decoration: none;
    color: white; }
