#user-card {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;

  #user-avatar {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 0;
    border-radius: 30%;
  }

  .details {
    display: flex;
    flex: 1;
    flex-direction: column;

    #title {
      margin-bottom: 10px;
    }

    #username {
      opacity: 0.5;
    }
  }
  .user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #393f4a;

    &:hover {
      background-color: #40444f;
    }

    .button-icon {
      font-size: 19px;
      font-weight: 700;
    }
  }

  .message {
    a {
      text-decoration: none;
      color: white;
    }
  }
}
