.call-modal-overlay {
  visibility: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background-size: 1200% 1200%;
  color: white;
  z-index: 999;
  right: 0; }
  .call-modal-overlay .cercle {
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    transform: translate(0, 16px);
    border: 20px solid #0b0c0e;
    background-color: transparent;
    -webkit-animation: wave 1s infinite linear;
    -o-animation: wave 1.5s infinite linear;
    animation: wave 1.5s infinite linear; }

@keyframes wave {
  0% {
    width: 40px;
    height: 40px;
    opacity: 1;
    border-width: 25px; }
  100% {
    width: 110px;
    height: 110px;
    transform: translate(0, -25px);
    opacity: 0;
    border-width: 30px; } }
  .call-modal-overlay .call-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; }
  .call-modal-overlay .call-modal-avatar {
    border-radius: 20%;
    height: 120px;
    width: 120px;
    margin-bottom: 100px; }
  .call-modal-overlay #name {
    font-size: 25px; }
  .call-modal-overlay #bottom-container {
    display: flex;
    margin-top: 50px;
    width: 200px;
    justify-content: space-around; }
  .call-modal-overlay .call-button {
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 200ms ease; }
    .call-modal-overlay .call-button.accept {
      background-color: #51c44e; }
      .call-modal-overlay .call-button.accept:hover {
        background-color: white;
        color: #51c44e; }
      .call-modal-overlay .call-button.accept .phone-icon {
        font-size: 30px; }
    .call-modal-overlay .call-button.decline {
      background-color: #ff5c33; }
      .call-modal-overlay .call-button.decline:hover {
        background-color: white;
        color: #ff5c33; }
      .call-modal-overlay .call-button.decline .fix-icon {
        font-size: 30px; }
  .call-modal-overlay .material-icons {
    font-size: 25px; }
  .call-modal-overlay.show {
    visibility: visible;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2); }
    .call-modal-overlay.show .call-modal {
      opacity: 1; }
