.navbar {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background-color: #2f343c;
  transition: all 200ms ease;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  transition: all 100ms ease;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
  padding: 0 17px;
  border-radius: 20%;

  &.selected {
    background-color: #272930;
    .icon {
      color: white;
    }
  }

  &:hover {
    background-color: #272930;
    .icon {
      color: white;
    }
  }

  .icon {
    position: relative;
    top: calc(50% - 12px);
    font-size: 24px;
    color: #a7a8ad;
  }
}

.nav-body {
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 22.5px;

  span {
    width: 25px;
    height: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #c6c6c6;
    transition: all 200ms ease;
    border-radius: 2px;
  }
}

.hamburger-active {
  span {
    margin: 1px;
    width: 20px;
  }
  #top {
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  #middle {
    opacity: 0;
  }
  #bottom {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 30px;

  /* Position the tooltip */
  position: absolute;
  z-index: 5;
}
