.navbar {
  width: 70px;
  height: 97vh;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  transition: all 200ms ease;
  overflow-x: hidden; }

.navbar-active {
  width: 250px; }

#navbar-nav {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%; }

.nav-item {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 100ms ease;
  cursor: pointer;
  text-decoration: none; }
  .nav-item #option-text {
    padding: 20px;
    color: #c6c6c6;
    font-size: 20px; }

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 20px; }

.icon {
  transition: all 100ms ease;
  font-size: 30px;
  color: #c6c6c6;
  margin-left: 20px; }
  .icon:hover {
    color: #3385ff; }

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 22.5px; }
  .hamburger span {
    width: 25px;
    height: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #c6c6c6;
    transition: all 200ms ease;
    border-radius: 2px; }

.hamburger-active span {
  margin: 1px;
  width: 20px; }

.hamburger-active #top {
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg); }

.hamburger-active #middle {
  opacity: 0; }

.hamburger-active #bottom {
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg); }

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 30px;
  /* Position the tooltip */
  position: absolute;
  z-index: 5; }
